<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
<h3>Hesham Salah:</h3>
email: <a href="heshamsalahuldeen@gmail.com">heshamsalahuldeen@gmail.com</a>
</br>
<a href="https://eg.linkedin.com/in/heshamsalahuldeen">Linkedin</a>
</br>
<a href="https://github.com/Heshamsalah">Github</a>

</p>
