<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to my Social Network</h1>
  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application, by Michael Hartl.
  </h2>
  <%= link_to "Signup Now!" , signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("network", size: "70x70", alt: "Rails logo"), '#' %>
