<footer class="footer">
  <small>
    Developed By <a href="https://eg.linkedin.com/in/heshamsalahuldeen">Hesham Salah</a>
  </small>
  <nav>
    <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><a href="https://www.facebook.com/profile.php?id=100010255117640">News</a></li>
    </ul>
  </nav>
</footer>
